<form id="register_link">
  <body>
  	<div class="container">
  		<div class="card text-white bg-info">
		  <div class="card-header">LINK ESPECIAL PARA INSCRIÇÃO - COMPARTILHE ESSE LINK E GANHE MAIS PONTOS</div>      
		</div>
		<div class="clearfix">&nbsp</div>
		<div class="col-lg-12">
			<center>
				<label id="special_link" style="font-size:12px"></label>
			</center>
		</div>
		<div class="clearfix">&nbsp</div>
		<div class="col-lg-12">
			<a href="/"><input type="button" value="INICIO" class="btn btn-success form-control"></a>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="js/storage.js"></script>
  </body>
</form>
